<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Portfolio of Andrew Godfroy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.RouteUrl("Home")">Andrew Godfroy <small>Portfolio</small></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var categoryRepo = new Portfolio.DAL.Repositories.CategoryRepository(new Portfolio.DAL.Data.DataContext());
                        foreach (var category in categoryRepo.GetAll())
                        {
                            <li><a href="#">@category.Name</a></li>
                        }
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.RouteUrl("About")">About</a></li>
                    <li><a href="@Url.RouteUrl("Contact")">Contact</a></li>

                    @{
                        var user = Auth.User;
                        if (user == null)
                        {
                            <li><a href="@Url.RouteUrl("Login")">Login</a></li>
                        }
                        else
                        {
                            <li class="dropdown navUserDropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="@Portfolio.Services.GravitarService.GetAvatar(user.Email, 50)" />
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a href="@Url.RouteUrl("AdminCategory")">Admin Panel</a></li>
                                    }

                                    <li>
                                        <a href="@Url.RouteUrl("AccountSettings")">
                                            <i class="glyphicon glyphicon-cog"></i>

                                            Account Settings
                                        </a>
                                    </li>

                                    <li role="separator" class="divider"></li>
                                    <li><a href="@Url.RouteUrl("Logout")">Logout</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="siteContentWrap">
        <div class="container siteContent">
            @RenderBody()
            <br />
        </div>
    </div>

    <footer class="siteFooter">
        <div class="container">
            <div class="row social">
                <div class="text-center">
                    <a href="https://ca.linkedin.com/in/andrewgodfroy"><img src="~/Images/Social/LinkedIn.png" alt="LinkedIn"/></a>
                    <a href="https://github.com/killerrin"><img src="~/Images/Social/GitHub.png" alt="GitHub"/></a>
                    <a href="https://twitter.com/killerrin"><img src="~/Images/Social/Twitter.png" alt="Twitter"/></a>
                </div>
            </div>
            <div class="row copyright">
                <p class="text-center">&copy; @DateTime.UtcNow.Year - Andrew Godfroy</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
