@model List<Portfolio.Models.PortfolioEntry>

<table class="table table-striped sortable">
    <thead>
        <tr>
            <th>Cover Image</th>
            <th>ID</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Created At</th>
            <th>Unpublished At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td><img width="25" src="@entry.CoverImageUrl"/></td>
                <td>@Html.DisplayFor(modelItem => entry.PortfolioEntryId)</td>
                <td>@Html.DisplayFor(modelItem => entry.Name)</td>
                <td>@Html.DisplayFor(modelItem => entry.Slug)</td>
                <td>@Html.DisplayFor(modelItem => entry.CreatedAt)</td>
                <td>@Html.DisplayFor(modelItem => entry.UnpublishedAt)</td>

                <td>
                    <a href="@Url.Action("Edit", new { id = entry.PortfolioEntryId })" class="btn btn-xs btn-primary">
                        <i class="glyphicon glyphicon-edit"></i> Edit
                    </a>

                    @if (entry.UnpublishedAt == null)
                    {
                        <div class="btn-group btn-group-xs">
                            <a href="@Url.Action("Unpublish", new { id = entry.PortfolioEntryId })" class="btn btn-danger" data-post="Are you sure you want to unpublish this portfolio entry?">
                                <i class="glyphicon glyphicon-remove"></i> Unpublish
                            </a>
                            <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Delete", new { id = entry.PortfolioEntryId })" data-post="Are you sure you want to delete this portfolio entry FOREVER?!">
                                        <i class="glyphicon glyphicon-remove"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("Restore", new { id = entry.PortfolioEntryId })" class="btn btn-xs btn-success" data-post="">
                            <i class="glyphicon glyphicon-plus-sign"></i> Restore
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>